@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #FFF5EA;
    /* 60% Cream Base */
    color: #260812;
    /* Deep Wine Text */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    overflow-x: hidden;
  }
}

.swiper-slide {
  transition: opacity 2.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
}